@import url(https://fonts.googleapis.com/css?family=Bungee+Shade);
@import url(https://fonts.googleapis.com/css?family=Bungee);

.content {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  font-family: monospace;
}

.header {
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  padding-right: 30px;
  color: blue;
  font-family: 'Bungee',sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  padding: 10px;
  display: block;
} 

.content img {
  max-width: 50%;
  height: auto;
}

.content h1 {
  font-family:'Bungee Shade',sans-serif;
}

.content ul {
  list-style-type: none;
}
