@import url(https://fonts.googleapis.com/css?family=Bungee+Shade);
@import url(https://fonts.googleapis.com/css?family=Bungee);

.content {
  font-family: monospace;
  margin-left: auto;
  margin-right: auto;
  width: 1020px;
}

.content a{
  color: blue;
}

.content img {
  height: auto;
  max-width: 35%;
}

.content h1 {
  font-family:'Bungee Shade',sans-serif;
}

.content ul {
  list-style-type: none;
}

.header {
  background-color: #E6E6FA;
  padding: 20px 10px;
}

.header a {
  color: white;
  font-family: 'Bungee',sans-serif;
  padding-right: 30px;
}

.row {
  display: flex;
  flex-wrap: wrap; 
  margin-left: 100px;
  padding: 0 4px;
}

.column {
  -ms-flex: 50%;
  flex: 50%;
  padding: 0 10px;
}

.column img {
  margin-top: 8px;
  max-width: 25%;
  padding: 20px;
  vertical-align: middle;
} 

.column video {
  margin-top: 8px;
  max-width: 25%;
  padding: 20px;
  vertical-align: middle;
} 
